body {
  background-color: darksalmon;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 15px;
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-color: dimgray;
}

h1,
h2,
h3 {
  text-align: center;
}
ol,
ol,
img,
p {
  display: block;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:last-child {
  float: right;
}

#nabar li a:hover {
  background-color: blanchedalmond;
}

* {
  margin: 0;
  padding: 0;
}
